.hamburger-menu{
    --hamburger-menu-display: inline-block;
}

.hamburger-menu{
    z-index: 1;
}

.main-navigation{
    --flex-direction: column;
    --scale-size: scale(0);  /* Scaling of 0 to hide the menu */
}

.main-navigation{
    justify-content: center;
    align-items: center;
    background: rgba(46, 49, 49, .9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.enable{
    animation: grow .5s forwards;
}


@keyframes grow{
    to{
        transform: scale(1.5);
    }
}

.disable{
    transform: scale(1.5); /* Scales the menu back to the final scaling of the grow animation.
                            This is needed because when the enable class is removed, the 
                            main navigation menu will dissappear without any animation */
                            
    animation: shrink .5s forwards;
}

@keyframes shrink{
    to{
        transform: scale(0);
    }
}

