.hero__header{
    --font-size: 2.4rem; 
    --margin-bottom: 1.5rem;
    --margin-top: -2rem;
}

/* HOME PAGE */

.hero--home{
    --background: linear-gradient(to right, rgba(0, 0, 0, .30), rgba(0, 0, 0, .30)),
    url('../images/heroes/home-mobile.jpeg') center center/cover;
}

.benefit__cards{
     --number-of-columns: 1fr;
}

.memberships__cards{
    --flex-direction: column;
    --right-and-left-card-margin: 0rem;
    --bottom-card-margin: 3rem;
    --last-child-margin: 1rem;
}

.memberships__cards{
    max-width: 450px;
    margin: auto;
}



.trainer-info__trainers,
.group-fitness__courses{
    --number-of-columns: 1fr;
}

.contact__map{
    --display: none;
}


 /* Footer */
.main-footer__contents{
    --flex-direction: column;
}

.main-footer__text{
    margin-bottom: .5rem;
}
