:root{
    --light-green: #49c35d;
    --dark-green: #338841;
    --dark-grey: #333;
    --font-size-1: 3.1rem;
    --font-size-3: 2rem;
    --margin-bottom-2: 2rem;
    --padding-y-2: 2rem;
}

body{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.7;
}
h1, h2, h3, h4{
    margin:0;
}

a{
    color: inherit;
    text-decoration: none;
}

.button{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.button--light-green{
    transition: color .6s;
}

.button--dark-green{
    color: #fff;
    border-radius: 5px;
    background: var(--dark-green);
    transition: background .6s, transform .4s;
}

@media(any-hover: hover){
    .button--light-green:hover{
        color: var(--light-green);
    }
    
    .button--dark-green:hover{
        transform: scale(1.12);
        background: var(--light-green);
        color: #fff;
    }
}
.capitalize{
    text-transform: uppercase;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.hilight{
    color: var(--light-green);
}
.hero{
    box-sizing: border-box;
    height: 80vh;
    padding: 1rem 0;
}

.vertical-list,
.horizontal-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-list{
    display: flex;
}

.section{
    padding: var(--padding-y-2);
}

.section-header{
    font-size: var(--font-size-3);
    margin-bottom: var(--margin-bottom-2);
    text-transform: uppercase
}


/* HOME PAGE */

/* Header */
.hero--home{
    background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
    url('../images/heroes/home.jpeg') center center/cover;
    color: #fff;
}

.hero__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu{
    --hamburger-menu-display: none;
}

.hamburger-menu{
    display: var(--hamburger-menu-display);
    font-size: 1.6rem;
    cursor: pointer;
}

.hero__header{
    margin-top: 0; 
    margin-bottom:  1rem; 
    font-size: var(--font-size-1);
}

.hero__content{
    display: flex;
    flex-direction: column;
    height: 55vh;
    align-items: center;
    justify-content: center;
}

/* Benefits */

.benefits{
    text-align: center;
}

.benefits-header{
    color: var(--dark-grey);
}
.benefit__cards{
    --flex-direction: row;
}

.benefit__cards{
    display: flex;
    flex-direction: var(--flex-direction);
}

.benefit__cards > *{
    flex: 1;
    padding: 0 1rem;
}

.benefit__card-icon{
    margin-bottom: 1rem;
    color: var(--dark-green);
}

.benefit__card-header{
    text-transform: capitalize;
    color: #333;
    white-space: nowrap;
    margin-bottom: 1rem;
}

/* MEMBERSHIPS */   
.memberships{
    text-align: center;
    background: #f7f7f7;
}

.memberships__heading{
    color: var(--dark-grey);
}

.benefit__cards{
    --flex-direction: row;
}

.memberships__cards{
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: center;
}

.memberships__cards > *{
    margin: 0 2rem;
    padding: 3rem;
    background: #fff;
    transition: background .5s;
}

@media(any-hover: hover){
    .memberships__cards > *:hover{
      background: #efefef;
    }
}


.membership__card-reacharge-rate{
    font-weight: normal;
}

.membership__card-price{
    color: var(--dark-green);
}
.membership__card-reacharge-rate,
.membership__card-price{
    margin-bottom: .8rem;
}

.membership__card-offerings > *{
    padding: .5rem;
    border-bottom: 1px solid #efefef;
}

.membership__card-offerings > *:last-child{
    border-bottom: none;
    margin-bottom: 1.3rem;
}


/* MAIN FOOTER */
.main-footer{
    background: #333;
    color: #fff;
}

.main-footer__contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}












/* Course-teaser and Courses
.course-teaser{
    text-align: center;
    padding: 1.5rem;
}
.course-teaser a{
    display: inline-block;
    margin-bottom: 1rem;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.course__image{
    width: 100%;
} */


